* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#tweet {
    width: 40%;
    border:gray solid 2px;
    margin:5% 30%;
}

#colorline {
background-color: rgb(92, 123, 165);
height: 100px;
}

.content {
    margin-top: -50px;
    padding-left: 2%;
}

.face {
    height: 100px;
    border-radius: 50%;
    border: black solid;
}

#location{
    display: flex;
    margin: 3% 0;
}

.settings {
    display: flex;
    margin: 7% 0;
}

.settings img, .locationIcon  {
    height: 20px;
}